@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Slabo+27px&display=swap');
:root {
    --primary-color: #094074;
    --secondary-color: #ffdd4a;
    --accent1-color: #5ADBFF;
    --accent2-color: #FE9000;

    --heading-font: 'Permanent Marker';
    --paragraph-font: 'Slabo 27px', 'slab serif';

    --nav-background-color: #094074;
    --nav-link-color: #ffdd4a;
    --nav-hover-link-color: #5ADBFF;
    --nav-hover-background-color: #FE9000;
}
header {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

header img {
    width: 100px;
    height: auto;
    margin: 1rem;
    justify-self: center;
}

header nav{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    border-bottom: 1px solid var(--accent2-color);
    padding: 2px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

a {
    text-decoration: none;
}


div article {
    top: 15rem;
    left: 5rem;
    width: 75%;
    height: 35%;
    position: absolute;
    background-color: rgba(0, 0, 0, .75);
    padding: 20px;
}

div article p {
    color: var(--secondary-color);
}

div h1 {
    position: absolute;
    top: 10rem;
    background-color: rgba(0, 0, 0, .75);
    color: var(--secondary-color);
    text-align: center;
    width: 100%;
}

#custpic {
    float: right;
    width: 300px;
    height: auto;
}

section img {
    max-width: 220px;
    max-height: 150px;
}

figure {
    border: medium var(--accent2-color) solid;
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    justify-content: flex-end;
}

figcaption {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font: var(--paragraph-font);
    padding: 3px;
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 80% 1fr 1fr 1fr 1fr;
    padding: 5px;
    text-align: center;
}

footer img{
    max-width: 50px;
    height: auto;
}



/* Classes */
.hero {
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 50px 200px;
    background-color: var(--accent1-color);
}

.grid img {
    margin: 10px;
    border: thin solid var(--accent2-color);
}

.figrow {
    display: flex;
    flex-flow: row wrap;
}