@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Slabo+27px&display=swap');
Body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root{
    --primary-color: #094074;
    --secondary-color: #ffdd4a;
    --accent1-color: #5ADBFF;
    --accent2-color: #FE9000;

    --heading-font: 'Permanent Marker';
    --paragraph-font: 'Slabo 27px', 'slab serif';

    --nav-background-color: #094074;
    --nav-link-color: #ffdd4a;
    --nav-hover-link-color: #5ADBFF;
    --nav-hover-background-color: #FE9000;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--secondary-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    columns: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}